.img{
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
}

em{
    float: right;
}


.nav-link:hover{
    
    border-bottom: 2px solid greenyellow;
}

a.nav-link{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s;
    color: white;

}


