body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
h1{
    margin-left: 28px;
    
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-about{
    padding: 5%;
    background-color: palevioletred;
    
    color: black;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
