{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/works.css' %}">
</head>
<body>
{% include 'blood_system/navbar.html' %}


<div class="container-about">
    
        <h1><strong>How It Works</strong></h1>
    
</div><br>


    
<div class="container">
    
  

<div class="container">
    
        <h3><strong>HOW IT WORKS</strong></h3><br>
        <div class="content">
           <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint <br><br>

            <h4><strong>PREPARATION</strong></h4> <br>


            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint <br><br>


            <h3><strong>DONATIONS AND IRON DEFICIENCY</strong></h3><br>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint 


           </p>
           
        </div>
    

   <div class="img">
    <img src="{% static 'images/about.png' %}" width="350%" alt="">
   </div> 

  
</div>


</body>
</html>