{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/about.css' %}">
</head>
<body>
    

{% include 'blood_system/navbar.html' %}

<div class="container-about " >
    
        <h1><strong>Who We Are</strong></h1>
    
</div><br>


    
       
<div class="quote-container">
    <img src="" alt="">
</div>

        <div class="container ">
            <h3><strong>ABOUT US</strong></h3><br>
           <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint 


            <br><br>

            
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
            cillum dolore eu fugiat nulla pariatur. Excepteur sint 

                <br><br>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                cillum dolore eu fugiat nulla pariatur. Excepteur sint 
        </p>
           </p>
        </div>
    
</div><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-6" >
                 <div class="box" >
                    <center>
                        <img src="{% static 'images/cat.jpg'  %}" width="30%" alt="">

                        <br>
                            <h2>UNIVERSITY OF ENERGY AND NATURAL RESOURCES</h2>

                    </center> 

                    <p>
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint <br>
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint

                    </p> 
                 </div> 
            </div>
            <div class="col-md-5 offset-1" >
                <div class="box" >
                    <br><br><br><br>
                    <h4>UNIVERSITY OF ENERGY AND NATURAL </h4>
                    <p>
                        
                   cillum dolore eu fugiat nulla pariatur. Excepteur sint <br> 
                   cillum dolore eu fugiat nulla pariatur. Excepteur sint <br>
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint

                    </p>
                </div>
           </div>
        </div>
    </div>
    

  
</body>
</html>